.mentor-homepage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.mentee-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mentee {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.mentee:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.mentee img {
  width: 100%;
  border-radius: 5px;
}

.mentee-details {
  margin-top: 10px;
  text-align: center;
}

.mentee-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.mentee-details p {
  font-size: 14px;
}

.notification-container {
  margin-top: 20px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.notification:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.notification.read {
  opacity: 0.5;
}

.notification.unread .read-status {
  display: none;
}

.notification.unread .notification-message {
  font-weight: bold;
}

.read-status {
  color: green;
  font-weight: bold;
}

.unread-status {
  color: red;
  font-weight: bold;
}

.notification-message {
  margin: 0;
  font-size: 14px;
}
